@font-face {
    font-family: 'Roboto-Regular';
    src: url(Fonts/Roboto-Regular.eot);
    src: url(Fonts/Roboto-Regular.ttf) format("truetype"),
    url(Fonts/Roboto-Regular.woff) format("woff"),
    url(Fonts/Roboto-Regular.woff2) format("woff2");
}


body {
    font-family: 'Roboto-Regular';
    height: 100vh;
    background-image: linear-gradient(to bottom right, #f9345f, #5e34b0);
    padding-top: 100px;
}

.table-header {
  text-align: center;
  font-size: 25px;
}

div {
    width: 900px;
    height: 320px;
    margin: auto;
    padding-top: 20px;
    background-color: #25bbaf;
}

table {
    width: 900px;
    height: 300px;
    text-align: left;
    margin: auto;
    color: white;
}

th:not(.table-header) {
    background-color: #66d1c7;
    vertical-align: middle;
}

tr {
    border-bottom: solid 1px #66d1c7;
}

td {
    vertical-align: middle;
}

th, td {
    width: 100px;
    padding-left: 40px;
    font-size: 13px;
}

tr:hover {
    background-color: #66d1c7;
}

